@font-face {
	font-family: "Literal-f";
	src: url("../fonts/Literal_Light.otf") format("otf");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Literal-f";
	src: url("../fonts/Literal_Regular.otf") format("otf");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Literal-f";
	src: url("../fonts/Literal_Bold.otf") format("otf");
	font-style: normal;
	font-weight: 700;
}
